---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>My Astro Site</h1>
    <h1>About Me...</h1>
    <h2>... and my new Astro site!</h2>
    <p>I'm working through Astro's introductory tutorial. this is the second page on my website, and it's the first I built myself.</p>
    <p>This site wil update as I complete more of the tutorial, so keep checking back here later.</p>
  </body>
</html>
