---
import ThemeIcon from "@/components/ThemeIcon.astro";
import Hamburger from "@/components/Hamburger.astro";
import Link from "@/components/NavLink.astro";
import PortfolioLink from "@/components/PortfolioLink.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { currentLocale } = Astro;
---

<nav class="bg-white">
  <div class="flex justify-between p-4">
    <span class="font-bold text-gray-900">WaSeidel</span>
    <Hamburger />
  </div>
  <div class="nav-links hidden space-y-4 p-4 md:block">
    <div class="flex flex-col gap-4">
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "")}
        >{t("nav.home")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "blog")}
        >{t("nav.blog")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "portfolio")}
        >{t("nav.portfolio")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "about")}
        >{t("nav.about")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "setup")}
        >{t("nav.setup")}</Link
      >
      <PortfolioLink href="https://flowcv.com/resume/eevk7vfmfl"
        >CV</PortfolioLink
      >
    </div>
    <div class="block space-y-4">
      <LanguagePicker />
      <ThemeIcon />
    </div>
  </div>
</nav>
<script>
  document.querySelector(".hamburger").addEventListener("click", () => {
    document.querySelector(".nav-links").classList.toggle("expanded");
  });
</script>
