---
interface Props {
	href: string;
}

const { href } = Astro.props;

const isUrlInCurrentLink = Astro.url.pathname === href;
---

<a href={href} class=`${isUrlInCurrentLink? 'border-b-2': null}`>
  <slot />
</a>
