---
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { pageTitle, description } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={pageTitle} description={description} />
    <ViewTransitions />
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PRFBWS8B"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
